h1{
	text-align: center;
}

.wrapper{
	max-width: 100%;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*.image-wrap{
	min-width: 90%;
	min-height: 90%;
}
*/

img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.button{
	min-width: 10vh;
	max-width: 10vh;
	min-height: 30vh;
	background-color: aqua;
	border-color: aqua;
	border-radius: 3%;
	
}

